<h2>Product</h2>

<p>
  <b>Title:</b> {{title}}
</p>

<p>
  <b>Description:</b> {{description}}
</p>

<p>
  <b>Image url:</b> {{image_url}}
</p>

<p>
  <b>Price:</b> {{price}}
</p>

{{#linkTo "products"}}←All Products{{/linkTo}}
{{#linkTo "edit_product" model}}Edit{{/linkTo}}
<a href="#" {{action "destroy"}}>Destroy</a>
